// ------------------ //
//  Imports
// ------------------ //
@import "node_modules/bulmaswatch/superhero/variables";

// restoring default from Bulma
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$bulmaswatch-import-font: false;

// overriding variables
$input-color: $grey-lighter;
$input-icon-color: darken($grey-light, 10);
$input-background-color: transparent;
$input-hover-color: $grey-light;
$input-border-color: $border;

@import "node_modules/bulma/bulma";

@import "node_modules/bulmaswatch/superhero/overrides";

// fixing font paths
$fa-font-path: "node_modules/fork-awesome/fonts";

@import "node_modules/fork-awesome/scss/fork-awesome";

@import "node_modules/jquery-ui-dist/jquery-ui.css";

@import "node_modules/simplebar/src/simplebar.css";

@import "node_modules/tippy.js/index.css";

// ------------------ //
//  Layout
// ------------------ //

html, body {
    overflow: hidden;
    height: 100%;
}

// ------------------ //
//  Global
// ------------------ //

.title {
    text-align: center;
}

.panel-heading,
.panel-tabs,
.panel-block {
    border-left: 0;
    border-right: 0;
}

.panel-heading .fa {
    vertical-align: middle;
    padding-bottom: 2px;
}

.button:focus:not(:active),
.button.is-focused:not(:active) {
    box-shadow: none;
}

textarea:focus {
    outline: none;
}

[disabled].button {
    cursor: inherit;
}

.ui-draggable-dragging {
    background: $background;
    width: 200px;
    padding: 0;
    z-index: 3000;
}

.ui-draggable-dragging.panel-block.page {
    & {
        height: 30px;
        padding: 2.5px 0.75em;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        width: auto;
    }

    .button {
        display: none;
    }
}

.ui-selectable-helper {
    border: 2px dotted rgba($green, 0.7);
    background: rgba($green, 0.1) !important;
}

.ui-selecting {
    background: rgba($green, 0.2) !important;
}

.ui-selected {
    background: rgba($green, 0.3) !important;
}

.notification {
    position: absolute;
    right: 20px;
    top: 20px;
    margin-bottom: 0 !important;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    display: none;
    z-index: 10000;
}

.sound-text {
    & {
        text-align: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        line-height: 1;
        z-index: 1;
        word-break: break-word;
    }

    textarea {
        text-align: center;
        font-size: inherit;
        line-height: 1;
        background: transparent;
        color: $light;
        resize: none;
        border: 0;
        overflow: hidden;
        vertical-align: middle;
    }

    form,
    textarea {
        width: 100%;
        height: 100%;
    }
}

// ------------------ //
//  Utilities
// ------------------ //

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.sound-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba($blue, 0.3);
}

// ------------------ //
//  SimpleBar
// ------------------ //

.simplebar-scrollbar:before {
    background: $grey-light;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
    opacity: 0.8;
}

// ------------------ //
//  Tippy
// ------------------ //

.tippy-tooltip {
    background-color: $grey;
    padding: 4px;
}

.tippy-popper[x-placement^=left] .tippy-arrow {
    border-left-color: $grey;
}

.tippy-popper[x-placement^=right] .tippy-arrow {
    border-right-color: $grey;
}

.tippy-popper[x-placement^=bottom] .tippy-arrow {
    border-bottom-color: $grey;
}

.tippy-content {
    .block-controls {
        display: flex;
        flex-direction: column;
    }

    .block-controls .button + .button {
        margin-top: 8px;
    }

    .button {
        padding: 0;
        width: 32px;
        height: 32px;
        border-radius: .25rem;
    }

    .button:focus,
    .button.is-focused {
        border-color: $button-border-color;
    }

    .fa {
        font-size: 1.5rem;
    }
}

// ------------------ //
//  Layout
// ------------------ //

.layout {
    display: flex;
    height: 100%;
}

.wrapper {
    & {
        position: relative;
        flex: 1;
    }

    &:before,
    &:after {
        content: '';
        display: block;
        z-index: 5000;
        transition: opacity 0.4s;
        opacity: 0;
        user-select: none;
        pointer-events: none;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $background;
    }

    &.is-loading {
        &:before {
            opacity: 0.8;
        }

        &:after {
            @include loader;
            position: absolute;
            top: calc(50% - 2.5em);
            left: calc(50% - 2.5em);
            width: 5em;
            height: 5em;
            border-width: 0.4em;
            zoom: 2;
            opacity: 1;
        }
    }
}

// ------------------ //
//  Navbar General
// ------------------ //

.navbar {
    display: flex !important;
    align-items: stretch;
}

.navbar-item,
.navbar-link {
    display: flex;
    align-items: center;
}

// ------------------ //
//  Tabs
// ------------------ //

.tabs.is-toggle {
    & {
        display: flex;
        margin-bottom: 0;
        margin-left: -2px;
        box-shadow: inset 1px 0 0 1px $border;
        overflow: hidden;
    }

    .tab {
        -webkit-app-region: no-drag;
    }

    .buttons,
    .button {
        margin: 0 !important;
    }

    .button {
        height: calc(100% - 2px);
        font-size: 1.5rem;
        border: 0;
        border-left: 1px solid $border;
        padding: 0 0.8rem;
    }

    ul {
        flex: 1;
        flex-wrap: wrap;
        min-height: 30px;
    }

    li:focus {
        outline: none;
    }

    .link {
        height: 30px;
        padding: 0.5em 0 0.5em 0.5em;
    }

    .icon {
        opacity: 0.5;
    }

    .icon:last-child {
        padding: 0.3em 1em 0.3em 0.4em;
        height: auto;
    }

    .icon:last-child:hover {
        color: $green;
    }

    .link strong {
        letter-spacing: -1px;
    }

    .is-active .link {
        border-bottom: 2px solid $grey-lighter;
    }

    .tab-btn {
        //font-size: 1.5em;
        //padding: 0.5em 0.3em;
    }

    .icon:first-child {
        margin-right: 0.3em;
    }

    .fa-stack-2x {
        font-size: 1.5em;
    }

    .fa-stack {
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
    }

    .fa-stack-1x {
        color: $background;
    }

    .text textarea {
        font-size: 1rem;
        line-height: 24px;
        background: transparent;
        color: $light;
        resize: none;
        border: 0;
        overflow: hidden;
        vertical-align: middle;
    }
}

// ------------------ //
//  Main Block
// ------------------ //

.main {
    & {
        display: none;
        height: 100%;
        position: relative;
    }

    .sound-block {
        position: absolute !important;
        left: 10px;
        top: 0;
        width: 200px;
        height: auto;
        white-space: normal;
        box-sizing: content-box;
        padding: 0;
        border: 0;
        z-index: 1;
        user-select: none;
        overflow: hidden;
        box-shadow: inset 0 0 0 1px rgba($grey, 0.4) !important;
    }

    .sound-block:hover,
    .sound-block:focus {
        box-shadow: inset 0 0 0 2px $grey !important;
    }
}

.has-bottom .main {
    & {
        background-image: linear-gradient($grey-dark 1px, transparent 1px),
        linear-gradient(90deg, $grey-dark 1px, transparent 1px);
        background-size: 10px 10px;
    }

    .sound-block {
        box-shadow: inset 0 0 0 1px rgba($grey, 0.8) !important;
    }
}

// ------------------ //
//  Panels
// ------------------ //

.panel {
    & {
        width: 250px;
        background-color: $grey-darker;
        margin-bottom: 0 !important;
        z-index: 2000;
    }

    .panel-heading {
        height: 30px;
        padding: 0 0.5em;
        text-align: center;
    }

    .count {
        font-weight: bold;
    }

    .panel-search {
        & {
            margin-bottom: 0;
        }

        .icon:first-child {
            display: none;
        }

        .input,
        .icon {
            height: 30px;
        }

        .input,
        .button {
            border: 0;
            border-bottom: 1px solid $border;
        }

        .input {
            padding-top: 0.25em;
        }

        .button {
            height: 30px;
        }
    }

    .panel-block {
        padding: 2.5px 0.75em;
        user-select: none;
    }

    .panel-block:first-child {
        border-top: 0;
    }

    .panel-block:last-child {
        border-bottom: 0;
    }
}

// ------------------ //
//  Left Panel
// ------------------ //

.panel.navigator {
    & {
        border-right: 2px solid $border;
    }

    .pages {
        height: calc(60% - 60px);
    }

    .pages > .items {
        height: calc(100% - 60px);
    }

    .pages .page {
        position: relative;
        padding-left: 45px;
        padding-right: 45px;
    }

    .page > .button {
        position: absolute;
        left: 0;
        height: 100%;
    }

    .page > .button:not([disabled]):hover {
        color: $green;
    }

    .page > .button:last-child {
        right: 0;
        left: auto;
    }

    .projects {
        height: 40%;
    }

    .page > .button,
    .panel-search .button {
        width: 35px;
    }
}

.navbar-brand {
    & {
        min-height: 0;
        display: flex;
        justify-content: center;
    }

    img {
        height: 100%;
        width: auto;
    }

    .text {
        font-weight: bold;
        margin-left: $size-small;
    }
}

.about {
    & {
        height: 30px;
        font-size: 1.1rem;
        color: $success;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    i {
        font-size: 1.3rem;
        margin-right: 5px;
    }

    .author {
        font-weight: bold;
        margin-left: 5px;
    }
}

// ------------------ //
//  Deck Panel
// ------------------ //

.panel.deck {
    & {
        border-left: 2px solid $border;
    }

    .phrases {
        background: transparent;
    }

    .panel-tabs {
        & {
            display: none;
        }

        a {
            display: inline-block;
            height: 30px;
            padding: 3px 15px 0;
            user-select: none;
        }

        a::before {
            @extend .fa;
            margin-right: 5px;
        }

        a::before {
            content: '\f15d';
        }

        a.desc::before {
            content: '\f15e';
        }

        a.by-length::before {
            content: '\f160';
        }

        a.by-length.desc::before {
            content: '\f161';
        }
    }

    .deck-items {
        & {
            display: none;
            height: calc(100% - 340px);
            transition: height 0.3s;
        }

        .panel-block {
            position: relative;
            padding: 0;
            margin-left: 25px;
            width: 200px;
            user-select: none;
        }
    }

    .batch {
        & {
            padding: 0;
            height: 30px;
        }

        .button {
            background: transparent;
            height: 30px;
            border: 0;
            color: $input-color;
            padding: 0 0.75em;
        }

        .button:hover {
            background: $grey-dark;
            opacity: 0.8;
        }
    }

    .batch .input {
        & {
            height: 30px;
            border: 0;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .control + .control {
        border-left: 1px solid $border;
    }

    .bottom {
        height: 40px;
        border-bottom: 0;
        border-top: 0;
        padding: 5px;
    }

    .bottom .button {
        height: 30px;
        padding: 0 0.75em;
    }

    .search.input {
        display: none;
    }

    .sound-text {
        padding: 2px;
        line-height: normal;
    }

    .panel-heading.edit {
        border-top: $panel-item-border;
        border-bottom: 0;
    }

    .buttons.edit {
        & {
            padding: 5px 0 0 5px;
            margin-bottom: 0;
            align-items: center;
            justify-content: center;
        }

        .button {
            margin-right: 5px;
            margin-bottom: 5px;
            height: 30px;
            padding: 0 10px;
        }

        .fa {
            margin-right: 5px;
        }
    }

    .info {
        height: 150px;
    }

    .info .fa {
        margin-right: 0.75em;
    }
}

.edit-mode {
    opacity: 0;
    transition: opacity 0.3s;
}

.has-bottom {
    .edit-mode {
        opacity: 1;
    }

    .panel.deck .deck-items {
        height: calc(100% - 550px);
    }
}

.window.buttons {
    & {
        padding: 0;
        margin-bottom: 0;
        justify-content: flex-end;
    }

    .button {
        background: transparent;
        border: 0;
        opacity: 0.7;
        margin: 0 !important;
        padding-top: 2px;
        height: 30px;
    }

    .button:hover {
        opacity: 1;
        background: $grey-darker;
    }

    i {
        font-size: $size-large;
        margin: 0;
    }
}

// ------------------ //
//  Modals
// ------------------ //

.modal {
    & {
        z-index: 5000;
    }

    .list-item.is-active {
        background: $grey-darker;
    }

    ul:not(:last-child) {
        margin-bottom: 0;
    }

    h3:not(:first-child) {
        margin-top: 1rem;
    }
}

.modal-card-head,
.modal-card-body {
    padding: 0.8rem;
}

.modal-card {
    width: auto;
}
