// ------------------ //
//  Imports
// ------------------ //
@import "node_modules/bulmaswatch/superhero/variables";

// restoring default from Bulma
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$bulmaswatch-import-font: false;

@import "node_modules/bulma/bulma";

@import "node_modules/bulmaswatch/superhero/overrides";

// fixing font paths
$fa-font-path: "node_modules/fork-awesome/fonts";

@import "node_modules/fork-awesome/scss/fork-awesome";

@import "node_modules/jquery-ui-dist/jquery-ui.css";

// ------------------ //
//  Layout
// ------------------ //

html, body {
    overflow-y: hidden;
    height: 100%;
}

// ------------------ //
//  Global
// ------------------ //

.title {
    text-align: center;
}

// ------------------ //
//  Utilities
// ------------------ //

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

// ------------------ //
//  Navbar Top
// ------------------ //

.navbar.top {
    padding: 4px 4px 0;
    min-height: $size-1;
    height: $size-1;
}

.navbar.top .navbar-brand {
    & {
        min-height: $size-3;
    }

    .text {
        font-weight: bold;
        margin-left: $size-small;
    }
}

.navbar.top .navbar-item {
    & {
        font-size: $size-medium;
    }

    &.about {
        color: $success;
        margin: 0 $size-medium;
    }

    i {
        margin-right: 0.6rem;
        font-size: $size-large;
    }

    .author {
        font-weight: bold;
    }
}

.navbar.top .navbar-end {
    .navbar-item {
        padding: 0;
    }

    .buttons {
        margin-bottom: 0;
    }

    .button {
        background: transparent;
        border: 0;
        opacity: 0.7;
        margin: 0 !important;
    }

    .button:hover {
        opacity: 1;
        background: $grey-darker;
    }

    i {
        margin: 0;
    }
}

// ------------------ //
//  Navbar Bottom
// ------------------ //

body {
    transition: padding-bottom 0.5s;
}

body.has-navbar-fixed-bottom {
    padding-bottom: 4rem;
}

.navbar.level {
    & {
        height: 4rem;
        bottom: -4rem;
        transition: bottom 0.5s;
    }

    .button {
        margin: 0 $size-small;
        font-size: $size-6;
    }

    .button .fa {
        margin-right: 0.5rem;
    }

    .edit {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: -3rem;
        right: 0;
        border: 2px solid $border;
        border-bottom: 0;
        border-right: 0;
        margin: 0;
    }

    .edit .fa {
        font-size: $size-large;
        margin: 0;
    }
}

.has-navbar-fixed-bottom .navbar.level {
    & {
        bottom: 0;
    }

    .edit {
        color: $green;
    }
}

// ------------------ //
//  Main Block
// ------------------ //

.main {
    & {
        height: calc(100% - 3rem);
        position: relative;
        background-image: linear-gradient($grey-dark 1px, transparent 1px),
        linear-gradient(90deg, $grey-dark 1px, transparent 1px);
        background-size: 10px 10px;
    }

    .draggable {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 200px;
        height: auto;
        overflow: hidden;
        white-space: normal;
        box-sizing: content-box;
        padding: 0;
        border: 0;
    }

    .draggable .text {
        padding: 5px;
        line-height: normal;
    }
}
