// ------------------ //
//  Imports
// ------------------ //
@import "node_modules/bulmaswatch/superhero/variables";

// restoring default from Bulma
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$bulmaswatch-import-font: false;

// overriding variables
$input-color: $grey-lighter;
$input-icon-color: darken($grey-light, 10);
$input-background-color: transparent;
$input-hover-color: $grey-light;
$input-border-color: $border;

@import "node_modules/bulma/bulma";

@import "node_modules/bulmaswatch/superhero/overrides";

// fixing font paths
$fa-font-path: "node_modules/fork-awesome/fonts";

@import "node_modules/fork-awesome/scss/fork-awesome";

@import "node_modules/jquery-ui-dist/jquery-ui.css";

@import "node_modules/simplebar/src/simplebar.css";

@import "node_modules/tippy.js/index.css";

// ------------------ //
//  Layout
// ------------------ //

html, body {
    overflow: hidden;
    height: 100%;
}

.wrapper {
    height: calc(100% - 40px);
    position: relative;
}

// ------------------ //
//  Global
// ------------------ //

.title {
    text-align: center;
}

.panel-heading,
.panel-tabs,
.panel-block {
    border-left: 0;
    border-right: 0;
}

textarea:focus {
    outline: none;
}

.ui-draggable-dragging {
    background: $background;
    width: 200px;
    padding: 0;
    z-index: 100;
}

.notification {
    position: absolute;
    right: 20px;
    top: 20px;
    margin-bottom: 0 !important;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    display: none;
    z-index: 100;
}

.sound-text {
    & {
        text-align: center;
        width: 100%;
        padding: 2px;
        line-height: 18px;
        z-index: 1;
        word-break: break-word;
    }

    textarea {
        text-align: center;
        font-size: 1rem;
        line-height: 18px;
        background: transparent;
        color: $light;
        resize: none;
        border: 0;
        overflow: hidden;
        vertical-align: middle;
    }
}

// ------------------ //
//  Utilities
// ------------------ //

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.sound-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba($blue, 0.3);
}

// ------------------ //
//  SimpleBar
// ------------------ //

.simplebar-scrollbar:before {
    background: $grey-light;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
    opacity: 0.8;
}

// ------------------ //
//  Tippy
// ------------------ //

.tippy-tooltip {
    background-color: $grey;
    padding: 4px;
}

.tippy-popper[x-placement^=left] .tippy-arrow {
    border-left-color: $grey;
}

.tippy-popper[x-placement^=right] .tippy-arrow {
    border-right-color: $grey;
}

.tippy-popper[x-placement^=bottom] .tippy-arrow {
    border-bottom-color: $grey;
}

.tippy-content {
    .block-controls {
        display: flex;
        flex-direction: column;
    }

    .block-controls .button + .button {
        margin-top: 8px;
    }

    .button {
        padding: 0;
        width: 32px;
        height: 32px;
        border-radius: .25rem;
    }

    .button:focus,
    .button.is-focused {
        border-color: $button-border-color;
    }

    .fa {
        font-size: 1.5rem;
    }
}

// ------------------ //
//  Navbar General
// ------------------ //

.navbar {
    display: flex !important;
    align-items: stretch;
}

.navbar-item,
.navbar-link {
    display: flex;
    align-items: center;
}

.navbar-dropdown {
    display: none;
    font-size: 0.875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    z-index: 20;
    padding: 0;
    border-bottom: 0 !important;
    border-radius: 6px 6px 0 0;
    border-top: none;
    bottom: 100%;
    box-shadow: 0 -8px 8px rgba($black, 0.1);
    top: auto;
    background-color: $navbar-dropdown-background-color;
}

.navbar-item.has-dropdown {
    align-items: stretch;
}

.navbar-item.is-hoverable:focus .navbar-dropdown,
.navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
}

.navbar-item.has-dropdown-up .navbar-link::after {
    transform: rotate(135deg) translate(0.25em, -0.25em);
}

// ------------------ //
//  Navbar Top
// ------------------ //

.navbar.top {
    padding: 4px;
    min-height: 40px;
    height: 40px;
    user-select: none;
    justify-content: space-between;
    box-shadow: 0 1px 0 1px $border;
}

.navbar.top .navbar-brand {
    & {
        min-height: 0;
    }

    .text {
        font-weight: bold;
        margin-left: $size-small;
    }
}

.navbar.top .about {
    & {
        font-size: $size-medium;
        color: $success;
        flex-grow: 1;
        justify-content: center;
    }

    i {
        margin-right: 0.6rem;
        font-size: $size-large;
    }

    .author {
        font-weight: bold;
    }
}

.navbar.top .window {
    & {
        padding: 0;
        margin-right: -4px;
    }

    .buttons {
        margin-bottom: 0;
    }

    .button {
        background: transparent;
        border: 0;
        opacity: 0.7;
        margin: 0 !important;
        height: 40px;
    }

    .button:hover {
        opacity: 1;
        background: $grey-darker;
    }

    i {
        font-size: $size-large;
        margin: 0;
    }
}

// ------------------ //
//  Tabs
// ------------------ //

.tabs.is-toggle {
    & {
        display: block;
        margin-bottom: 0;
        margin-left: -1px;
        box-shadow: inset 1px 0 0 1px $border;
        overflow: hidden;
    }

    ul {
        flex-wrap: wrap;
    }

    li:focus {
        outline: none;
    }

    .link {
        height: 35px;
        padding: 0.5em 0.6em 0.5em 0.5em;
    }

    .link strong {
        letter-spacing: -1px;
    }

    .is-active .link {
        border-bottom: 2px solid $grey-lighter;
    }

    .tab-btn {
        //font-size: 1.5em;
        //padding: 0.5em 0.3em;
    }

    .icon:first-child {
        margin-right: 0.3em;
    }

    .fa-stack-2x {
        font-size: 1.5em;
    }

    .fa-stack {
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
    }

    .fa-stack-1x {
        color: $background;
    }

    .text textarea {
        font-size: 1rem;
        line-height: 24px;
        background: transparent;
        color: $light;
        resize: none;
        border: 0;
        overflow: hidden;
        vertical-align: middle;
    }
}

// ------------------ //
//  Main Block
// ------------------ //

.main {
    & {
        display: none;
        height: calc(100% - 35px);
        position: relative;
        padding-bottom: 40px;
    }

    &.is-loading {
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            background-color: $background;
            z-index: 5000;
        }

        &:after {
            @include loader;
            position: absolute;
            top: calc(50% - 2.5em);
            left: calc(50% - 2.5em);
            width: 5em;
            height: 5em;
            border-width: 0.4em;
            zoom: 2;
            z-index: 5000;
        }
    }

    .sound-block {
        position: absolute !important;
        left: 10px;
        top: 0;
        width: 200px;
        height: auto;
        white-space: normal;
        box-sizing: content-box;
        padding: 0;
        border: 0;
        z-index: 1;
        user-select: none;
        overflow: hidden;
        box-shadow: inset 0 0 0 1px rgba($grey, 0.2) !important;
    }

    .sound-block:hover,
    .sound-block:focus {
        box-shadow: inset 0 0 0 2px $grey !important;
    }
}

.has-bottom .main {
    & {
        background-image: linear-gradient($grey-dark 1px, transparent 1px),
        linear-gradient(90deg, $grey-dark 1px, transparent 1px);
        background-size: 10px 10px;
    }

    .sound-block {
        box-shadow: inset 0 0 0 1px rgba($grey, 0.6) !important;
    }
}

// ------------------ //
//  Navbar Bottom
// ------------------ //

.navbar.level {
    & {
        display: flex;
        position: absolute;
        right: 0;
        width: 100%;
        height: 140px;
        bottom: -100px;
        transition: bottom 0.5s;
        background-color: rgba($navbar-background-color, 0.95);
        z-index: 2000;
        user-select: none;
    }

    .button .fa {
        margin-right: 0.5rem;
    }
}

.level-center {
    & {
        width: 100%;
    }

    .level-top,
    .level-bottom {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .level-top {
        border-top: 2px solid $border;
        border-bottom: 2px solid $border;
    }

    .level-bottom {
        height: calc(100% - 40px);
    }

    .level-top,
    .navbar-item {
        font-size: 1.1rem;
        height: 40px;
    }

    .navbar-dropdown .navbar-item {
        padding: 0.5rem 1rem;
    }

    .navbar-item.has-dropdown,
    .navbar-dropdown {
        padding: 0;
        border-bottom: 0 !important;
    }

    .navbar-link {
        padding-right: 3rem;
    }

    i {
        margin-right: 0.6rem;
        font-size: 1.3rem;
    }
}

.level-bottom {
    .group {
        display: flex;
        align-items: center;
    }

    .text i {
        display: block;
        text-align: center;
        font-size: 3rem;
        margin-right: 0;
    }

    .buttons {
        margin-left: 1rem;
        margin-bottom: 0;
    }

    .add .buttons {
        width: 250px;
    }

    .page .buttons {
        width: 270px;
    }

    .button {
        margin: 0.3rem;
    }

    .buttons .button {
        margin-right: 0.3rem !important;
    }
}

.navbar .level-right,
.navbar .level-left {
    & {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .button {
        width: 40px;
        height: 40px;
        margin: 0;
        border: 2px solid $border;
    }

    .button + .button {
        margin-top: 30px;
    }

    .button .fa {
        font-size: $size-large;
        margin: 0;
    }
}

.navbar .level-right {
    .button {
        border-right: 0;
    }
}

.navbar .level-left {
    .button {
        border-left: 0;
    }
}

.has-bottom:not(.has-right) .navbar.level {
    & {
        bottom: 0;
    }

    .edit {
        color: $green;
    }
}

.has-right .navbar.level {
    .deck-toggle {
        margin-top: -40px !important;
        color: $green !important;
    }
}

// ------------------ //
//  Panels
// ------------------ //

.panel {
    & {
        position: absolute;
        width: 250px;
        height: calc(100% - 40px);
        top: 40px;
        background-color: $grey-darker;
        z-index: 2000;
    }

    .panel-heading {
        height: 35px;
        padding: 0.15em 0.5em;
        text-align: center;
    }

    .count {
        font-weight: bold;
    }

    .panel-search {
        .input,
        .icon {
            height: 30px;
        }

        .input {
            display: none;
            padding-top: 0.25em;
            border: 0;
            border-bottom: 1px solid $border;
        }
    }
}

// ------------------ //
//  Left Panel
// ------------------ //

.panel.navigator {
    & {
        left: -250px;
        transition: left 0.3s ease-in-out 0.2s;
        border-right: 2px solid $border;
    }

    .panel-block {
        padding: 0.25em 0.75em;
    }

    .panel-block:first-child {
        border-top: 0;
    }
}

.has-left {
    .wrapper {
        margin-left: 250px;
    }

    .panel.navigator {
        left: 0;
    }
}

// ------------------ //
//  Deck Panel
// ------------------ //

.panel.deck {
    & {
        right: -250px;
        transition: right 0.3s ease-in-out 0.2s;
        border-left: 2px solid $border;
    }

    .panel-tabs {
        a {
            height: 30px;
            padding: 3px 15px 0;
            user-select: none;
        }

        a::before {
            @extend .fa;
            margin-right: 5px;
        }

        a::before {
            content: '\f15d';
        }

        a.desc::before {
            content: '\f15e';
        }

        a.by-length::before {
            content: '\f160';
        }

        a.by-length.desc::before {
            content: '\f161';
        }
    }

    .deck-items {
        & {
            display: none;
            height: calc(100% - 180px);
        }

        .panel-block {
            position: relative;
            padding: 0;
            margin-left: 25px;
            width: 200px;
            user-select: none;
        }

        .panel-block:first-child {
            border-top: 0;
        }
    }

    .batch {
        & {
            padding: 0;
            height: 35px;
        }

        .button {
            background: transparent;
            height: 35px;
            border: 0;
            color: $input-color;
        }

        .button:hover {
            background: $grey-dark;
            opacity: 0.8;
        }
    }

    .batch .input {
        & {
            border: 0;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .control + .control {
        border-left: 1px solid $border;
    }

    .bottom {
        height: 50px;
        border-bottom: 0;
    }
}

.has-right {
    .wrapper {
        margin-right: 250px;
    }

    .panel.deck {
        right: 0;
    }
}
